body {
  /* page defaults */
}

/* parallax ********************************************************************/
/* https://stackoverflow.com/questions/11313783/i-think-css3-transform-translatez-is-equal-to-scale-by-some-means */

.parallaxArea {
    display: block;
  -webkit-perspective: 100px;
          perspective: 100px;
    perspective-origin: center center;
    height: 90vh;    /* The size/length of the parallax window itself. 1vh = 1% of the viewport height */
    width: 100vw;
    margin: 0px auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
}

.parallax { /* Keeps everything level horizontally */
   display: block;
   width: 100%;
   height: 40%;
}

.layer_0 {
  background-color: red;
  -webkit-transform: translateZ(-600px) scale(7);
          transform: translateZ(-600px) scale(7);
}

.layer_1 {
  background-color: orange;
  -webkit-transform: translateZ(-500px) scale(6);
          transform: translateZ(-500px) scale(6);
}

.layer_2 {
  background-color: yellow;
  -webkit-transform: translateZ(-400px) scale(5);
          transform: translateZ(-400px) scale(5);
}

.layer_3 {
  background-color: green;
  -webkit-transform: translateZ(-300px) scale(4);
          transform: translateZ(-300px) scale(4);
}

.layer_4 {
  background-color: blue;
  -webkit-transform: translateZ(-200px) scale(3);
          transform: translateZ(-200px) scale(3);
}

.layer_5 {
  background-color: purple;
  -webkit-transform: translateZ(-100px) scale(2);
          transform: translateZ(-100px) scale(2);
}

.layer_6 {
  background-color: brown;
  -webkit-transform: translateZ(0px) scale(1);
          transform: translateZ(0px) scale(1);
}

/* .parallaxCover {
    background: #000000;
    display: block;
    position: absolute;
    width: 100%;
    height: 80vw;
    top: 100%;
} */


.moreContent {
  background-color: #888;
  /* margin-top: 90vh; */
  position: fixed;
}
